<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Status Perguruan Tinggi Swasta</title>
  </head>
  <body>
    <h1>Status Website Perguruan Tinggi Swasta</h1>
    <div id="countdown"></div>
    <!-- Menampilkan countdown timer -->
    <table id="status-table">
      <thead>
        <tr>
          <th>URL</th>
          <th>Status</th>
          <th>HTTP Status</th>
          <!-- Menambahkan kolom HTTP Status -->
        </tr>
      </thead>
      <tbody>
        <!-- Rows akan diisi oleh JavaScript -->
      </tbody>
    </table>
    <script>
      function updateStatus() {
        fetch("/status")
          .then((response) => response.json())
          .then((data) => {
            const tableBody = document
              .getElementById("status-table")
              .getElementsByTagName("tbody")[0];
            tableBody.innerHTML = "";
            for (const url_obj of data.urls) {
              const row = tableBody.insertRow();
              const urlCell = row.insertCell(0);
              const statusCell = row.insertCell(1);
              const httpStatusCell = row.insertCell(2); // Menambahkan sel untuk HTTP Status
              urlCell.textContent = url_obj.url;
              statusCell.textContent = url_obj.status;
              httpStatusCell.textContent =
                url_obj.http_status !== null ? url_obj.http_status : "N/A"; // Menampilkan status HTTP atau N/A jika null
            }
          })
          .catch((error) => console.error("Error fetching status:", error));
      }

      // Fungsi untuk menampilkan countdown timer
      function startCountdown() {
        let seconds = 30;
        const countdownDisplay = document.getElementById("countdown");
        countdownDisplay.textContent = `Next update in ${seconds} seconds`;
        const countdownInterval = setInterval(() => {
          seconds--;
          countdownDisplay.textContent = `Next update in ${seconds} seconds`;
          if (seconds <= 0) {
            clearInterval(countdownInterval);
            updateStatus(); // Panggil updateStatus() setelah countdown selesai
            startCountdown(); // Mulai countdown lagi setelah updateStatus() selesai
          }
        }, 1000); // Timer update setiap 1 detik
      }

      // Panggil startCountdown() saat halaman dimuat
      startCountdown();
    </script>
  </body>
</html>
